a{
    color: black;
}

p, ul, li{
    font-size: 24pt;
}

h1{
    font-size: 48pt;
}

img{
    display: block;
   margin-left: auto;
   margin-right: auto;
   padding: 10px;
   border-radius: 50%;
   height: 200px;
   width: 200px;
   filter: inherit;
}


/*graph animation*/
#particles-js{
    background-image: url("/assets/css/images/home/scorpius.jpg");
    margin-top: 0em;
    height: 500px;
    filter: inherit;
}

/*light-dark mode*/
input[type="checkbox"]
{
    -webkit-appearance: none;
    position: fixed;
    z-index: 1;
    top: 40px;
    left: 450px;
    cursor: pointer;
}

input[type="checkbox"]:before 
{
        content: 'Dark Mode';
        position: absolute;
        color: #fff;
        background: #000;
        padding: 10px 20px;
        border-radius: 50%;
}

input[type="checkbox"]:checked:before 
{
        content: 'Light Mode';
        color: #000;
        background: #fff;
        padding: 10px 20px;
        border-radius: 50%;
}



input[type="checkbox"]:checked ~ *
{
    filter: invert(1);
}

hr{
    background-color: red;
    height: 5px;
}

/*body{
    background-image: radial-gradient(lightgrey 0.05%, white 20%);
    background-position: 0 0;
    background-size: 20px 20px;
    width: 100%;
    filter: inherit();
}*/
.main{
    background-color: white;
    width: 86%;
    height: 100%;
    height: 100%;
  position: fixed;
  top: 0;
  padding-left: 2%;
  background-color: white;
  overflow-x: hidden;
  padding-top: 20px;  
}

#footer{
    float:left; 
     /*#e4e6c3*/
    margin-left: 5%; 
    width: 85% ;
    height: 100px;
    padding: 10px;
    font-size: 24px;
    
}

/*side nav*/
.sidenav {
  height: 100%;
  width: 15%;
  position: fixed;
  z-index: 1;
  top: 0;
  padding-left: 2%;
  background-color: white;
  overflow-x: hidden;
  padding-top: 20px;  
}

.sidenav h2:hover {
    color: blue;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.social-icons{
    font-size: 60px;
    padding: 10px;
  }
  
  /*for a tag inside social icons class*/
.social-icons a{
    color: white;
}
  

/*main container*/
.main{
    width: 86%;
    margin-left: 15%;
}  

/*about*/

.about-me .about-left{
    float:left; 
     /*#DEF4C6*/
    margin-left: 5%; 
    width: 20% ;
    height: 800px;
    padding: 10px;
    font-size: 24px;
    margin-bottom: 50px;
}

.about-me .about-right{
    float:left; 
     /*#fffff8*/
    color: black; 
    width: 65% ;
    height: 800px;
    padding: 30px;
    font-size: 24px;
    margin-bottom: 50px;
    
}

.about-page .about-left{
    float:left; 
     /*#e0e0d6*/
    margin-left: 5%; 
    width: 65% ;
    height: 800px;
    padding: 30px;
    font-size: 24px;
    margin-bottom: 50px;
}

.about-page .about-right{
    float:left; 
     /*#e4e6c3*/ 
    width: 20% ;
    height: 800px;
    padding: 10px;
    font-size: 24px;
    margin-bottom: 50px;
}


/*qualifications*/
.qualifications-left{
    float:left; 
     /*#f7f7f2*/
    margin-left: 5%; 
    width: 36% ;
    height: 1300px;
    padding: 25px;
    font-size: 24px;
    margin-bottom: 50px;
}

.qualifications-center{
    float:left; 
      /*#f7f7f2*/
    width: 24% ;
    height: 1300px;
    padding: 25px;
    font-size: 24px;
    margin-bottom: 50px;
}

.qualifications-right{
    float:left; 
      /*#f7f7f2*/
    width: 25% ;
    height: 1300px;
    padding: 25px;
    font-size: 24px;
    margin-bottom: 50px;
}


/*projects*/
.internships{
    float:left; 
     /*#f7f7f2*/
    margin-left: 5%; 
    width: 28.3% ;
    height: 800px;
    padding: 30px;
    font-size: 24px;
    margin-bottom: 50px;
}

.personal-projects{
    float:left; 
    /*#e4e6c3*/  
    width: 28.3% ;
    height: 800px;
    padding: 30px;
    font-size: 24px;
    margin-bottom: 50px;
}

.publications{
    float:left; 
    /*#DEF4C6*/  
    width: 28.3% ;
    height: 800px;
    padding: 30px;
    font-size: 24px;
    margin-bottom: 50px;
}

/*site-map*/
.site-map-left{
    float:left; 
    /*#f7f7f2*/ 
    margin-left: 5%; 
    width: 23%;
    height: 1000px;
    padding: 10px;
    font-size: 24px;
    
}

.site-map-center{
    float:left; 
    /*#f7f7f2*/  
    width: 23% ;
    height: 1000px;
    padding: 10px;
    font-size: 24px;
    
}

.site-map-right{
    float:left; 
    /*#f7f7f2*/  
    width: 39% ;
    height: 1000px;
    padding: 10px;
    font-size: 24px;

}

.site-map-left p,.site-map-center p{
    text-indent: 70px;
}    

/*feedback form*/
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}